@import "curity-theme";

// 1. Page
:root {
  --page-background-color: #e0f5f9;
  --page-background-color-dark: #2f31b4;
}

// 3 Login symbol
:root {
  --login-symbol-size: 240px;
}

// 4 Login logo
:root {
  --login-logo-max-width: 240px;
  --login-logo-max-height: 120px;
}

// 5. Colors
:root {
  --color-primary: #245acf;
  --color-primary-dark: #081229;
  --color-primary-medium: #132e67;
  --color-spot: #245acf;
  --color-link: #7195e2;
  --color-link-hover: #1f4598;
}

// 6. Forms
:root {
  --form-field-background-color-dark: white;
}

// 7. Typography
:root {
  --type-sans: "Avenir", "Roboto-Regular", system, -apple-system, "Roboto",
    "Segoe UI", "Lucida Grande", sans-serif;
  --type-sans-bold: "Avenir", "Roboto-Medium", system, -apple-system, "Roboto",
    "Segoe UI", "Lucida Grande", sans-serif;
  --type-weight-bold: 600;
  --type-base-size: 1.2rem;
}

// Custom CSS
.login-well.form-transparent {
  --button-color: var(--color-primary-medium);
  --button-color-hover: var(--color-primary-dark);
}

.body-dark .form-transparent .field,
.body-dark .form-transparent .field-light {
  color: var(--color-primary-dark);
  background-color: var(--form-field-background-color-dark);
  border-color: var(--form-field-border-color-dark);
}
