@import "curity-theme";

// 1. Page
:root {
  --page-background-color: #ebffee;
  --page-background-color-dark: #2f31b4;
}

// 4 Login logo
:root {
  --login-logo-max-width: 240px;
  --login-logo-max-height: 120px;
}

// 5. Colors
:root {
  --color-primary: #39b54a;
  --color-spot: #39b54a;
  --color-link: #39b54a;
  --color-link-hover: #1c6326;
}

// 7. Typography
:root {
  --type-sans:
    "Avenir",
    "Roboto-Regular",
    system,
    -apple-system,
    "Roboto",
    "Segoe UI",
    "Lucida Grande",
    sans-serif;
  --type-sans-bold:
    "Avenir",
    "Roboto-Medium",
    system,
    -apple-system,
    "Roboto",
    "Segoe UI",
    "Lucida Grande",
    sans-serif;
  --type-weight-bold: 600;
  --type-base-size: 1.2rem;
}
