#parse("settings-defaults")

#set ($logo_white_path = $!_staticResourceRootPath + '/assets/images/sb-group-logo-white.svg')
#set ($logo_inside = true)
#set ($show_symbol = true)

#set ($body_background = 'body-dark')
##set ($login_form_background = 'form-light')
#set ($login_form_background = 'form-transparent')

#set ($page_symbol_path = $!_staticResourceRootPath + '/assets/images/')
#set ($page_symbol_bank = $page_symbol_path + "sb-group-symbol.svg")

#set ($page_symbol = $page_symbol_bank)
#set ($page_symbol_authenticate_opt_in_mfa = $page_symbol_bank)
#set ($page_symbol_authenticate_desktop = $page_symbol_bank)
#set ($page_symbol_authenticate_htmlform = $page_symbol_bank)
#set ($page_symbol_authenticate_desktop_woman = $page_symbol_bank)
#set ($page_symbol_authenticate_mobile = $page_symbol_bank)
#set ($page_symbol_authenticate_email = $page_symbol_bank)
#set ($page_symbol_authenticate_card = $page_symbol_bank)
#set ($page_symbol_authenticate_sms = $page_symbol_bank)
#set ($page_symbol_authenticate_pair_device = $page_symbol_bank)
#set ($page_symbol_authenticate_htmlform = $page_symbol_bank)
#set ($page_symbol_authenticate_totp = $page_symbol_bank)
#set ($page_symbol_authenticate_bankid = $page_symbol_bank)
#set ($page_symbol_authenticate_netid = $page_symbol_bank)
#set ($page_symbol_authenticate_webauthn = $page_symbol_bank)

#set ($powered_by = false)

#set ($main_css_path = $!_staticResourceRootPath + '/assets/css/main.css' )
#set ($theme_css_path = $!_staticResourceRootPath + '/assets/css/sb-group-theme.css')

#set ($current_area = "sb-group")
