@import "curity-theme";

// 1. Page
:root {
  --page-background-color: #fff6ff;
  --page-background-color-dark: #7a0079;
}

// 3 Login symbol
:root {
  --login-symbol-size: 240px;
}

// 4 Login logo
:root {
  --login-logo-max-height: 120px;
}

// 5. Colors
:root {
  --color-primary: #9e0ca3;
}

// 7. Typography
:root {
  --type-sans:
    "Avenir",
    "Roboto-Regular",
    system,
    -apple-system,
    "Roboto",
    "Segoe UI",
    "Lucida Grande",
    sans-serif;
  --type-sans-bold:
    "Avenir",
    "Roboto-Medium",
    system,
    -apple-system,
    "Roboto",
    "Segoe UI",
    "Lucida Grande",
    sans-serif;    
}
